
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Bangers";
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.webp") repeat fixed center;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
}



h1{
    margin: 10px 0;
    letter-spacing: 5px;
    font-weight: 400;
    padding: 15px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.877);
}

button {
    background: linear-gradient(180deg, #ffd700, #ff8c00); /* Gold zu Orange */
    border: 3px solid black;
    border-radius: 10px;
    font-size: 1.4rem;
    color: black;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 3px 3px 0px black;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background: linear-gradient(180deg, #ffea00, #ff6600); /* Helleres Gold zu dunklerem Orange */
    box-shadow: 2px 2px 0px black;
    transform: translate(1px, 1px);
}

button:active {
    background: linear-gradient(180deg, #ffcc00, #ff4500); /* Kräftigere Farben */
    box-shadow: 1px 1px 0px black;
    transform: translate(2px, 2px);
}

h3{
    font-size: 1.5rem;
    font-weight: 300;
}

#outer-box{
    border: 1px solid black;
    background-color: aqua;
    width: 100%;
    height: 100%;

}

#player-name-display{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    height: 50%;
    background-color: rgb(250, 250, 250);
    flex-wrap: wrap;
}

#player-name-display-title{
    color: rgba(0, 0, 0, 0.356);
}

#player-input{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 25%;
}

#player-name-input{
    border-radius: 10px;
    align-self: center;
    width: 70%;
    height: 30px;
}

#player-name-input::placeholder{
    font-size: 1rem;
    word-spacing: 3px;
    padding-left: 10px;
}

#add-player-button{
    font-size: 1.4rem;
    align-self: center;
    width: 70%;
    height: 40px;
}

#start-game-button{
    align-self: center;
    font-size: 1.4rem;
    align-self: center;
    width: 70%;
    height: 40px;
}

.player-name-button{
    text-align: center;
    font-size: 1.4rem;
    margin: 5px;
    padding: 7px;
}

.task-display{
    font-size: 2.2rem;
    font-weight: 200;
}

.show-task{
    display: flex;
    justify-content: center;
    align-items: center;
}

.who-won{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#next-round-button{
    font-size: 1.4rem;
    align-self: center;
    width: 33%;
    height: 40px;
    margin-top: 15px;
}